<div class="poop-new">
  <div>
    <%= erb :_errors %>
    <p>You're about to call <%= @politician.full_name %> about <%= @issue.bill_number.upcase %></p>
    Here's their number
  <a data-issue-id="<%= @issue.id %>" data-politician-id="<%= @politician.id %>" class="call-button button" href="tel:<%= @politician.phone %>"><%= @politician.phone %></a>
  Let it all out.

  <div>
  <h3>sample script:</h3>
  <blockquote>
    Hi, I'm  ____name____.
    [more info to come here...]
    But we're not going to take this shit sitting down.
  </blockquote>

  Add your own thoughts about the bill, or about what's going on right now. Make a splash.
</div>
