<div class="issue-show">
  <dl class="issue-details">
    <dt>Number:</dt>
    <dd><%= @issue.bill_number.upcase %></dd>
    <dt>Description:</dt>
    <dd><%= @issue.description %></dd>
    <dt>When is it scheduled for a vote:</dt>
    <dd><%= @issue.legislative_day.strftime("%a %b %-d") %></dd>
    <dt>The vote will occur in the next:</dt>
    <dd><%= @issue.range %></dd>
    <dt>Where is it being voted on:</dt>
    <dd><%= @issue.chamber.capitalize %></dd>
    <dt>For more info:</dt>
    <dd><a href="https://projects.propublica.org/represent/bills/<%= "#{@issue.congress_number}/#{@issue.bill_number}" %>">ProPublica Represent page for this bill</a></dd>
  </dl>
  <div class="call-options">
    Call while pooping:
    <ul>
      <li><a href="/issues/<%= @issue.id %>/politicians">one of the politicians who has already been called about this issue</a></li>
      <li><a href="/issues/<%= @issue.id %>/politicians/dem">a random Democrat</a></li>
      <li><a href="/issues/<%= @issue.id %>/politicians/rep">a random Republican</a></li>
      <li><a href="/issues/<%= @issue.id %>/politicians/local">your local congressperson</a></li>
    </ul>
  </div>
  <div class="poop-details">
    <%= erb :"politicians/_politicians_called" %>
  </div>
</div>
